.body{
    background-color: darkgrey;
}

.login{
    width: 40%;
    margin-top: 40px;
    background-color: rgb(23, 22, 29);
    margin-left: 30%;
    border-radius: 20px;
}
.nome{
    font-size: 18px;
    color:rgb(245, 245, 248);
    margin-top: 20px;
}
.caixa{
    background-color: rgb(171, 172, 173);
    width: 20px;    

}
.botão{
    font-size: 15px;
    color:rgb(245, 245, 248);
    margin-left: 40px;
    margin-bottom: 20px;

}
.formulario{
    width: 90%;
    margin-left: 20px;
}
.botão2{
    font-size: 15px;
    color:rgb(245, 245, 248);
   
    margin-bottom: 20px;}
    

